.iconfont {
  font-family: xwing-icons;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  width: 30px;
}
.focus,
.targetlock,
.barrelroll,
.boost,
.cloak,
.evade,
.arc,
.coordinate,
.reinforce,
.slam {
  margin: 12px 30px;
  width: auto !important;
}
.focus:before,
.targetlock:before,
.barrelroll:before,
.boost:before,
.cloak:before,
.evade:before,
.arc:before,
.coordinate:before,
.reinforce:before,
.slam:before {
  font-size: 1.25rem;
  font-family: xwing-icons;
  position: relative;
  top: -3px;
  left: -26px;
}
.focus:before {
  content: '\0066';
}
.coordinate:before {
  content: 'o';
}
.reinforce:before {
  content: 'i';
}
.targetlock:before {
  content: "\006c";
}
.barrelroll:before {
  content: "\0072";
  left: -29px;
}
.boost:before {
  content: "\0062";
}
.evade:before {
  content: "\0065";
}
.cloak:before {
  content: "\006b";
}
.arc:before {
  content: "R";
}
.slam:before {
  content: "s";
  left: -22px;
}
@font-face {
  font-family: xwing-numbers;
  src: url("../fonts/kimberley_bl.ttf");
}
.pilot {
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0px;
  box-sizing: border-box;
  background-color: white;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1400px;
  width: 1000px;
  background-color: black;
}
.pilot.landscape {
  height: 1000px;
  width: 1400px;
}
.pilot .pilotskill {
  font-size: 100px;
  color: #f47e20;
  margin-left: 90px;
  margin-top: 145px;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
.pilot .pilotskill .psbox {
  box-sizing: border-box;
  padding-top: 3px;
  border: 8px solid #f47e20;
  text-align: center;
  width: 140px;
  height: 140px;
  font-family: xwing-numbers;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.65);
}
.pilot .iconbar {
  width: 800px;
  margin: 12px auto;
  text-align: center;
  font-family: xwing-icons;
  letter-spacing: 25px;
  text-indent: 25px;
  font-size: 50px;
  z-index: 5;
}
.pilot .pilottext,
.pilot .shipname,
.pilot .pilotname {
  text-align: center;
  width: 800px;
  z-index: 5;
  font-family: xwing-text;
}
.pilot .pilottext {
  margin: 0px auto;
  width: 800px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}
.pilot .pilotname {
  margin: 0 auto;
  font-size: 70px;
  letter-spacing: 2px;
}
.pilot .shipname {
  margin: 0 auto;
  font-style: italic;
  font-size: 45px;
}
.pilot .upgradebar {
  margin: 0 auto;
  width: 85%;
  font-size: 3.25rem;
  text-align: center;
  letter-spacing: 10px;
  word-wrap: break-word;
}
.pilot .statscontainer {
  padding: 5px 0 8px 12px;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 53px;
  margin-top: 2%;
  margin-left: 100px;
  width: 140px;
  text-align: justify;
  font-weight: 300;
  line-height: 130%;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
.pilot .statscontainer.none {
  font-size: 70px;
  line-height: 120%;
}
.pilot .statscontainer.none .stat {
  text-align: justify;
}
.pilot .statscontainer.none .stat:before {
  content: '' !important;
  margin-right: 0 !important;
}
.pilot .statscontainer .stat {
  margin-top: 6%;
  font-family: xwing-numbers;
}
.pilot .statscontainer .attack {
  color: #f01e44;
}
.pilot .statscontainer .attack:before {
  font-family: xwing-icons;
  content: "\0025";
  font-size: 50px;
  margin-right: 5px;
}
.pilot .statscontainer .defense {
  color: #8bce44;
}
.pilot .statscontainer .defense:before {
  margin-left: -8px;
  font-family: xwing-icons;
  content: "\005e";
  font-size: 50px;
  margin-right: 5px;
}
.pilot .statscontainer .hull {
  color: yellow;
}
.pilot .statscontainer .hull:before {
  font-family: xwing-icons;
  content: "\0026";
  font-size: 50px;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  left: 0px;
}
.pilot .statscontainer .shields {
  color: #86e3f1;
}
.pilot .statscontainer .shields:before {
  font-family: xwing-icons;
  content: "\002a";
  font-size: 50px;
  margin-right: 5px;
  margin-left: -3px;
  position: relative;
  top: -7px;
  left: 3px;
}
.sidebar {
  overflow-y: auto;
  position: relative;
  width: 500px;
  background-color: white;
  box-shadow: 2px 0px 9px #222;
}
.sidebar h4 {
  font-weight: 300;
}
.sidebar .section {
  border-top: 2px solid #333;
  padding-top: 16px;
}
.sidebar .inputcontainer {
  margin-bottom: 1rem;
}
.sidebar .inputcontainer .actions {
  border-top: 2px solid #333;
  width: 215px;
  display: block;
  justify-content: space-between;
  padding-left: 36px;
  padding-top: 12px;
  box-sizing: border-box;
}
.sidebar .inputcontainer .upgrades {
  border-top: 2px solid #333;
  width: 215px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
}
.sidebar .inputcontainer .upgrades .upgrade {
  margin-top: 0.5rem;
  width: 33%;
  cursor: pointer;
}
.sidebar .inputcontainer .upgrades .upgrade::selection {
  background-color: transparent;
}
.sidebar .inputcontainer .upgrades .upgrade .iconfont {
  font-size: 1.25rem;
  display: block;
}
.sidebar .inputcontainer .upgrades .upgrade .add {
  display: inline-block;
  text-align: center;
  color: white;
  width: 1rem;
  height: 1rem;
  background-color: dodgerblue;
}
.sidebar .inputcontainer .upgrades .upgrade .add::selection {
  background-color: transparent;
}
.sidebar .inputcontainer .upgrades .upgrade .remove {
  display: inline-block;
  text-align: center;
  color: white;
  width: 1rem;
  height: 1rem;
  background-color: #C0C0C0;
}
.sidebar .inputcontainer .upgrades .upgrade .remove::selection {
  background-color: transparent;
}
.sidebar .inputcontainer.flex {
  display: flex;
  justify-content: space-around;
}
.sidebar .inputcontainer input,
.sidebar .inputcontainer textarea {
  border: 1px solid #333;
  padding: 3px;
  font-family: sans-serif;
}
.sidebar .inputcontainer textarea {
  width: 100%;
  height: 80px;
}
.sidebar .inputcontainer input {
  margin-left: 8px;
  font-size: 1rem;
  width: 120px;
}
.sidebar .inputcontainer .shortvalue {
  width: 50px;
}
.sidebar .menu {
  height: 40px;
  width: 100%;
  display: flex;
}
.sidebar .menu button {
  width: 50%;
  border: none;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 100;
  outline: none;
}
.sidebar .menu button.active {
  background-color: dodgerblue;
  font-weight: 400;
}
.sidebar .stats {
  color: #333;
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;
  font-size: 1rem;
  width: 100%;
  overflow-y: auto;
}
.sidebar .stats .fileinput {
  font-size: 1rem !important;
  width: 81%;
  margin-bottom: 1.5rem;
}
.sidebar .stats .customizations {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sidebar .settings {
  padding: 32px 32px 16px 32px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  color: #333;
  box-sizing: border-box;
}
.sidebar .settings .imageSizeForm {
  display: inline-table;
  line-height: 1.5;
}
.sidebar .settings .imageSizeForm input[type="radio"] {
  width: auto;
  margin-right: 12px;
}
.sidebar .settings .imageNumberSetting {
  display: inline-block;
  width: 75px;
  text-align: right;
}
@font-face {
  font-family: xwing-icons;
  src: url('../fonts/xwing-miniatures.ttf');
}
@font-face {
  font-family: xwing-text;
  src: url('../fonts/xwingfont.ttf');
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  color: white;
  font-family: sans-serif;
  background-color: #353535;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  z-index: -1;
  background-color: #353535;
}
.exportbutton {
  font-size: 18px;
  color: white;
  font-weight: 200;
  padding: 5px 20px 5px 20px;
  background-color: dodgerblue;
  border: none;
  display: block;
  margin: 36px auto;
  width: 150px;
  height: 50px;
}
.main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.main .content {
  height: 100%;
}
.main .content .render {
  position: relative;
  display: block;
  margin-top: 36px;
  height: 70%;
  background-size: 100% 100%;
  background-color: black;
}
.main .content .render .landscape {
  width: 70%;
}
.main .content .render .manualImage {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
