@font-face {
  font-family: xwing-numbers;
  src: url("../app/fonts/kimberley_bl.ttf");
}
@font-face {
  font-family: xwing-icons;
  src: url("../app/fonts/xwing-miniatures.ttf");
}
.pilot {
  box-sizing: border-box;
  background-color: white;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1400px;
  width: 1000px;
  background-color: black;
}
.pilot.landscape {
  height: 1000px;
  width: 1400px;
}
.pilot .pilotskill {
  font-size: 100px;
  color: #f47e20;
  margin-left: 150px;
  margin-top: 145px;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
.pilot .pilotskill .psbox {
  text-align: center;
  width: 140px;
  border-radius: 6px;
  font-family: xwing-numbers;
  background-color: rgba(0, 0, 0, 0.65);
}
.pilot .iconbar {
  width: 800px;
  margin: 12px auto;
  text-align: center;
  font-family: xwing-icons;
  letter-spacing: 25px;
  text-indent: 25px;
  font-size: 50px;
  z-index: 5;
}
.pilot .pilottext,
.pilot .shipname,
.pilot .pilotname {
  text-align: center;
  width: 800px;
  z-index: 5;
}
.pilot .pilottext {
  margin: 0px auto;
  width: 800px;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 300;
}
.pilot .pilotname {
  margin: 0 auto;
  font-size: 70px;
  letter-spacing: 2px;
}
.pilot .shipname {
  margin: 0 auto;
  font-style: italic;
  font-size: 45px;
}
.pilot .gradient {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  width: 100%;
  padding-bottom: 125px;
  font-family: xwing-text;
}
.pilot .gradient.gradientVisible {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 45%);
}
.pilot .statscontainer {
  padding: 5px 0 8px 12px;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 53px;
  margin-top: 2%;
  margin-left: 150px;
  width: 140px;
  text-align: justify;
  font-weight: 300;
  line-height: 130%;
  text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
.pilot .statscontainer.none {
  font-size: 70px;
  line-height: 120%;
}
.pilot .statscontainer.none .stat {
  text-align: justify;
}
.pilot .statscontainer.none .stat:before {
  content: '' !important;
  margin-right: 0 !important;
}
.pilot .statscontainer .stat {
  margin-top: 6%;
  font-family: xwing-numbers;
}
.pilot .statscontainer .attack {
  color: #f01e44;
}
.pilot .statscontainer .attack:before {
  font-family: xwing-icons;
  content: "\0025";
  font-size: 50px;
  margin-right: 5px;
}
.pilot .statscontainer .defense {
  color: #8bce44;
}
.pilot .statscontainer .defense:before {
  margin-left: -8px;
  font-family: xwing-icons;
  content: "\005e";
  font-size: 50px;
  margin-right: 5px;
}
.pilot .statscontainer .hull {
  color: yellow;
}
.pilot .statscontainer .hull:before {
  font-family: xwing-icons;
  content: "\0026";
  font-size: 50px;
  margin-right: 5px;
  margin-left: 3px;
  margin-bottom: 10px;
  position: relative;
  top: -5px;
  left: 0px;
}
.pilot .statscontainer .shields {
  color: #86e3f1;
}
.pilot .statscontainer .shields:before {
  font-family: xwing-icons;
  content: "\002a";
  font-size: 50px;
  margin-right: 5px;
  margin-left: -3px;
  position: relative;
  top: -7px;
  left: 3px;
}
