<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/_pilot.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="js/dom-to-image.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="main" class="main">
        <div class="overlay"></div>
        <div class=" sidebar">
            <div class="menu">
                <button v-on:click="statsVisible = true" v-bind:class="{active: statsVisible}" class="statsbutton">Stats</button>
                <button v-on:click="statsVisible = false" v-bind:class="{active: !statsVisible}" class="settingsbutton">Settings</button>
            </div>
            <div v-if="statsVisible" class="stats">
                <div class="inputcontainer">
                    <Span>Name</Span>
                    <input v-model="card.pilotname" style="width: 224px;" v-model="card.pilotname" type="text" name="pilotname">
                </div>
                <div class="inputcontainer">
                    <Span>Ship</Span>
                    <input id="name" v-model="card.ship" style="width: 126px !important; margin-left: 22px;" type="text" name="shipname">
                    <Span>PS</Span>
                    <input v-model="card.stats.pilotskill" class="shortvalue" type="number" min="1" name="psbox">
                </div>
                <div style="margin-top: 24px !important;" class=" inputcontainer flex">
                    <div>
                        <Span class="iconfont">%</Span>
                        <input v-model="card.stats.attack" class=" shortvalue" type="number" min="1" name="attack">
                    </div>
                    <div>
                        <Span class=" iconfont">^</Span>
                        <input v-model="card.stats.defense" class=" shortvalue" type="number" min="1" name="defense">
                    </div>
                </div>
                <div style="margin-bottom: 36px;" class=" inputcontainer flex">
                    <div>
                        <Span class=" iconfont">&amp;</Span>
                        <input v-model="card.stats.hull" class="shortvalue" type="number" min="1" name="hull">
                    </div>
                    <div>
                        <Span class=" iconfont">*</Span>
                        <input v-model="card.stats.shields" class="shortvalue" type="number" min="1" name="shields">
                    </div>
                </div>
                <div class="inputcontainer">
                    <Span>Card text</Span><br />
                    <textarea v-model="card.cardtext" name="pilottext" rows="5" cols=""></textarea>
                </div>
                <div class="inputcontainer">
                    <span>Artwork</span>
                    <img id="preview" class="preview" />
                    <input class="fileinput" name="pilot" v-on:change="readImage" type="file">
                </div>
                <div class="customizations">
                    <div class="inputcontainer">
                        <Span>Actions</Span><br />
                        <div class="actions">
                            <input type="checkbox" v-model="card.actions.focus" class="focus shortvalue" />
                            <input type="checkbox" v-model="card.actions.targetlock" class="targetlock shortvalue" />
                            <input type="checkbox" v-model="card.actions.barrelroll" class="barrelroll shortvalue" />
                            <input type="checkbox" v-model="card.actions.boost" class="boost shortvalue" />
                            <input type="checkbox" v-model="card.actions.cloak" class="cloak shortvalue" />
                            <input type="checkbox" v-model="card.actions.evade" class="evade shortvalue" />
                            <input type="checkbox" v-model="card.actions.arc" class="arc shortvalue" />
                            <input type="checkbox" v-model="card.actions.slam" class="slam shortvalue" />
                            <input type="checkbox" v-model="card.actions.coordinate" class="coordinate shortvalue" />
                            <input type="checkbox" v-model="card.actions.reinforce" class="reinforce shortvalue" />
                        </div>
                    </div>

                    <div class="inputcontainer">
                        <Span>Upgrades</Span><br />
                        <div class="upgrades">
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('A')" class="add">+</div>
                                <div v-on:click="removeUpgrade('A')" class="remove">-</div>
                                <span class="iconfont">A</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('W')" class="add">+</div>
                                <div v-on:click="removeUpgrade('W')" class="remove">-</div>
                                <span class="iconfont">W</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('C')" class="add">+</div>
                                <div v-on:click="removeUpgrade('C')" class="remove">-</div>
                                <span class="iconfont">C</span>
                            </div>

                            <div class="upgrade">
                                <div v-on:click="addUpgrade('E')" class="add">+</div>
                                <div v-on:click="removeUpgrade('E')" class="remove">-</div>
                                <span class="iconfont">E</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('I')" class="add">+</div>
                                <div v-on:click="removeUpgrade('I')" class="remove">-</div>
                                <span class="iconfont">I</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('M')" class="add">+</div>
                                <div v-on:click="removeUpgrade('M')" class="remove">-</div>
                                <span class="iconfont">M</span>
                            </div>

                            <div class="upgrade">
                                <div v-on:click="addUpgrade('P')" class="add">+</div>
                                <div v-on:click="removeUpgrade('P')" class="remove">-</div>
                                <span class="iconfont">P</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('S')" class="add">+</div>
                                <div v-on:click="removeUpgrade('S')" class="remove">-</div>
                                <span class="iconfont">S</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('U')" class="add">+</div>
                                <div v-on:click="removeUpgrade('U')" class="remove">-</div>
                                <span class="iconfont">U</span>
                            </div>

                            <div class="upgrade">
                                <div v-on:click="addUpgrade('V')" class="add">+</div>
                                <div v-on:click="removeUpgrade('V')" class="remove">-</div>
                                <span class="iconfont">V</span>
                            </div>
                            <div class="upgrade">
                                <div v-on:click="addUpgrade('X')" class="add">+</div>
                                <div v-on:click="removeUpgrade('X')" class="remove">-</div>
                                <span class="iconfont">X</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!statsVisible" class="settings">
                <div class=" options">
                    <h4>Image Options</h4>
                    <div class="section">
                        <!-- Flip Image, Size Adjustment, position adjustments, boxes / backgrounds for texts -->
                        <div class="inputcontainer">
                            <span>Gradient</span> <input v-model="card.imageSettings.gradient" type="checkbox" name="gradient"
                            />
                        </div>
                        <div class="inputcontainer">
                            <span>Image Size</span>
                            <form class="imageSizeForm">
                                <input type="radio" v-model="card.imageSettings.imageSize" class="shortvalue" name="imagesize" value="auto">                                Auto <br>
                                <input type="radio" v-model="card.imageSettings.imageSize" class="shortvalue" name="imagesize" value="manual">                                Custom <br>
                            </form>
                        </div>
                        <div v-if="card.imageSettings.imageSize === 'manual'">
                            <div class="inputcontainer flex">
                                <div>
                                    <Span class="imageNumberSetting">Width</Span>
                                    <input v-model="card.layoutSettings.xSize" class="shortvalue" type="number">
                                    <Span class="imageNumberSetting">Height</Span>
                                    <input v-model="card.layoutSettings.ySize" class="shortvalue" type="number">
                                </div>
                            </div>
                            <div class="inputcontainer flex">
                                <div>
                                    <Span class="imageNumberSetting">Horizontal</Span>
                                    <input v-model="card.layoutSettings.xOffset" class="shortvalue" type="number" min="-100">
                                    <Span class="imageNumberSetting">Vertical</Span>
                                    <input v-model="card.layoutSettings.yOffset" class="shortvalue" type="number" min="-100">
                                </div>
                            </div>
                            <div class="inputcontainer">
                                <div>
                                    <Span style="margin-left: 34px;">Zoom</Span>
                                    <input class="shortvalue" v-model="card.layoutSettings.zoom" type="number">
                                </div>
                            </div>
                            <button v-on:click="renderManualImage()" class="exportbutton">Render</button>
                        </div>
                        <h4>Layout Options</h4>
                        <div class="section">
                            <div class="inputcontainer">
                                <span>Statistics box</span>
                                <input v-model="card.imageSettings.statFrame" type="checkbox" name="statframe" />
                            </div>
                        </div>
                        <div class="inputcontainer">
                            <span>Statistics icons</span>
                            <input v-model="card.imageSettings.statIcons" type="checkbox" name="staticons" />
                        </div>
                        <div class="inputcontainer">
                            <span>Pilotskill box</span>
                            <input v-model="card.imageSettings.psFrame" type="checkbox" name="psframe" />
                        </div>
                        <div class="inputcontainer">
                            <span>Landscape</span>
                            <input v-model="card.imageSettings.landscape" type="checkbox" name="landscape" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div id="render" v-bind:class="{landscape: card.imageSettings.landscape}" v-bind:style="{ 'background-image': 'url(' + card.renderedImage + ')' }"
                class="render">
                <div id="manualImage" v-if="manualImageVisible" v-bind:style="{'background-image': 'url(' + card.originalImage + ')', 'background-size': card.layoutSettings.xSize+'% ' + card.layoutSettings.ySize +'%', 'background-position-x': card.layoutSettings.xOffset + '%', 'background-position-y': card.layoutSettings.yOffset + '%'}"
                    class="manualImage"></div>
            </div>
            <button v-on:click="saveImage()" class="exportbutton">Save Card</button>
            <div id="pilot" v-bind:class="{landscape: card.imageSettings.landscape}" class="pilot">
                <div class="pilotskill">
                    <div v-bind:style="{ backgroundColor: card.imageSettings.psFrame ? 'rgba(0, 0, 0, 0.65)':'transparent' }" class="psbox">{{ card.stats.pilotskill }}</div>
                </div>
                <div v-bind:style="{ backgroundColor: card.imageSettings.statFrame ? 'rgba(0, 0, 0, 0.65)':'transparent' }" v-bind:class="{ none: !card.imageSettings.statIcons }"
                    class="statscontainer">
                    <div class="attack stat"> {{ card.stats.attack }} </div>
                    <div class="defense stat"> {{ card.stats.defense }} </div>
                    <div class="hull stat"> {{ card.stats.hull }} </div>
                    <div class="shields stat"> {{ card.stats.shields }} </div>
                </div>
                <div v-bind:class="{gradientVisible: card.imageSettings.gradient}" class="gradient">
                    <div class="pilotname">{{ card.pilotname }}</div>
                    <div class="shipname">{{ card.ship }}</div>
                    <div id="iconbar" class="iconbar">
                        <span v-if="card.actions.focus">f</span>
                        <span v-if="card.actions.targetlock">l</span>
                        <span v-if="card.actions.barrelroll">r</span>
                        <span v-if="card.actions.boost">b</span>
                        <span v-if="card.actions.cloak">k</span>
                        <span v-if="card.actions.evade">e</span>
                        <span v-if="card.actions.arc">R</span>
                        <span v-if="card.actions.slam">s</span>
                        <span v-if="card.actions.coordinate">o</span>
                        <span v-if="card.actions.reinforce">i</span>
                    </div>

                    <div class="pilottext">{{ card.cardtext }}</div>
                    <div id="upgradebar" class="upgradebar iconfont">
                        {{card.upgrades.used}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>